:local {
  .container {
    border-right: 1px solid #c8cacb;
    flex: 0 0 auto;
    position: relative;
  }

  .content {
    height: 100%;
    pointer-events: none;
    position: relative;
    width: 100%;
  }

  .touch-target {
    height: 100%;
    position: absolute;
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 5px 0px #0092e0;
    }

    &.selectable:hover {
      background: #e2f2fc;
      cursor: pointer;
      box-shadow: inset 0 0 5px 0px #a6d4fc;
    }

    &.selected {
      background: var(--terra-data-grid-cell-selected-background-color,#cbe7fa);
      box-shadow: inset 0 0 5px 0px #0092e0;

      &:hover {
        background: var(--terra-data-grid-cell-selected-hover-background-color,#b3ddf7);
      }
    }
  }
}