:local {
  .row {
    display: flex;
    background-color: white;
    min-width: 100%;
  }

  .row.striped {
    background-color: #f4f4f4;
  }

  .header-row {
    border-bottom: 1px solid grey;
    background-color: lightgrey;
  }

  .pinned-header {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: 10000;

    .cell-container:last-child {
      border-right: 2px solid rgb(155, 159, 161);
    }
  }

  // Sticky implementation

  .vertical-overflow-container {
    background-color: #cccccc;
    position: relative;
    overflow-x: none;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  .scroll-header-container {
    height: calc(100% + 20px);
    margin-bottom: -20px;
    overflow-x: auto;
    padding-bottom: 20px;
    width: 100%;
  }

  .scroll-header {
    height: 2rem;
    position: relative;
    top: 0;
    z-index: 101;
  }

  .fixed-content {
    left: 0;
    z-index: 100;
    transform: translateZ(0px); // Necessary to correct variability with overflowed content interactions in Chrome

    position: absolute;
    top: 0;

    .cell-container:last-child {
      border-right: 2px solid rgb(155, 159, 161);
    }
  }

  .scroll-content {
    margin-bottom: -20px;
    overflow-x: auto;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
  }

  .section-header-container {
    height: 33px;
    background: lightgrey;
    border-bottom: 1px solid #646464;
  }

  .section-header-container:focus {
    outline: none;
    box-shadow: inset 0 0 5px 0px #0092e0;
  }
}