:local {
  .row {
    display: flex;
    background-color: white;
    min-width: 100%;
  }

  .row.striped {
    background-color: #f4f4f4;
  }

  .header-row {
    border-bottom: 1px solid grey;
    background-color: lightgrey;
  }

  .cell-container {
    position: relative;
    flex: 0 0 auto;
    border-right: 1px solid #c8cacb;
  }

  .cell-container.selectable:hover {
    background-color: #e2f2fc;
    cursor: pointer;
  }

  .cell-container.selected {
    background-color: var(--terra-data-grid-cell-selected-background-color,#cbe7fa);
    box-shadow: inset 0 0 5px 0px #0092e0;
  }

  .cell-container.selected:hover {
    background-color: var(--terra-data-grid-cell-selected-background-color,#b3ddf7);
  }

  .header-cell-container.selectable:hover {
    background-color: #e9e9e9;
  }

  .header-cell-container {
    border-right: 1px solid #b3b4b5;
  }

  .cell-container.selectable:focus {
    outline: none;
    box-shadow: inset 0 0 5px 0px #0092e0;
  }

  .pinned-header {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: 10000;

    .cell-container:last-child {
      border-right: 2px solid rgb(155, 159, 161);
    }
  }

  .resize-handle {
    height: 100%;
    position: absolute;
    width: 5px;
    right: 0;
    top:0;
    cursor: col-resize;

    &:hover {
      background-color: grey;
    }

    &.dragging {
      background-color: darkslategrey;
      z-index: 200;
    }
  }

  // Sticky implementation

  .container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .container.legacy-sticky {
    overflow-y: auto;
    position: relative;
  }

  .overflow-container {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;

    background-color: #cccccc;
  }

  .overflow-container.legacy-sticky {
    position: static;
    overflow-x: auto;
    overflow-y: none;
    height: auto;
    width: auto;
  }

  .scroll-header {
    height: 2rem;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 101;
  }

  .fixed-content {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    height: 0px;
    overflow: visible;
    z-index: 100;
    transform: translateZ(0px); // Necessary to correct variability with overflowed content interactions in Chrome

    .cell-container:last-child {
      border-right: 2px solid rgb(155, 159, 161);
    }
  }

  .fixed-content.legacy-sticky {
    position: absolute;
  }

  .scroll-content {
    position: relative;
  }

  .section-header-container {
    height: 33px;
    background: lightgrey;
    border-bottom: 1px solid #646464;
  }

  .section-header-container:focus {
    outline: none;
    box-shadow: inset 0 0 5px 0px #0092e0;
  }
}