:local {
  .data-grid-container {
    outline: none;
    border: 1px solid lightgrey;
  }

  .data-grid-container [data-accessible-data-grid-content] {
    pointer-events: auto;
  }

  .fill {
    height: 100%;
    width: 100%;
  }

  .header-container {
    width: 100%;
    overflow: hidden;
    position: relative;

    .pinned-header {
      background-color: lightgrey;
      border-bottom: 1px solid grey;

      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      height: 100%;
    }

    .header-overflow-container {
      height: calc(100% + 20px);
      margin-bottom: -20px;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 20px;
      width: 100%;

      .overflow-header {
        border-bottom: 1px solid grey;
        background-color: lightgrey;
        display: flex;
        height: 100%;
        min-width: 100%;
        position: relative;
        top: 0;
      }
    }
  }

  .vertical-overflow-container {
    background-color: #cccccc;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  .horizontal-overflow-container {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
  }

  .overflowed-content-container {
    overflow: hidden;
  }

  .pinned-content-container {
    box-shadow: 3px 0px 5px grey;

    left: 0;
    z-index: 100;
    transform: translateZ(0px); // Necessary to correct variability with overflowed content interactions in Chrome

    position: absolute;
    top: 0;
  }

  .section-header-container {
    height: 3rem;
    background: lightgrey;
    border-bottom: 1px solid #646464;
  }

  .section-header-container:focus {
    outline: none;
    box-shadow: inset 0 0 5px 0px #0092e0;
  }

  .leading-focus-anchor {
    outline: none;
  }

  .terminal-focus-anchor {
    outline: none;
  }
}