:local {
  .container {
    background-color: lightgrey;
    height: 14px;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .scrollbar {
    background-color: grey;
    border-radius: 25px;
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    touch-action: none;

    &.dragging {
      background-color: darkslategray;
    }
  }
}