:local {
  .clinical-lowlight-theme {
    // .flex-header
    --terra-clinical-header-background-color: #141719;
    --terra-clinical-header-border-bottom-color: #08090a;

    // .subheader
    --terra-clinical-header-subheader-background-color: #141719;
  }
}
