:global {
  --terra-clinical-detail-view-accessory-color: #b2b5b6;
  --terra-clinical-detail-view-divider-border-color: #181b1d;
  --terra-clinical-detail-view-footer-text-color: #6f7477;
  --terra-clinical-detail-view-subtitle-color: #6f7477;
}
