:local {
  .container {
    border-right: var(--terra-clinical-data-grid-cell-border-right, 1px solid #dedfe0);
    float: left;
    height: 100%;
    position: relative;
  }

  .content {
    height: 100%;
    position: relative;
    width: 100%;

    &:focus {
      box-shadow: inset 0 0 0 1px rgba(38, 162, 229, 0.5), inset 0 0 0 4px rgba(76, 178, 233, 0.2);
      outline: none;
    }

    &.selectable:hover {
      background-color: var(--terra-clinical-data-grid-v1-cell-hover-background-color, rgba(0, 146, 224, 0.12));
      cursor: pointer;
    }

    &.selected {
      background-color: var(--terra-clinical-data-grid-v1-cell-selected-background-color, #cbe7fa);
      box-shadow: inset 0 0 0 1px #0092e0;

      &:hover {
        background-color: var(--terra-clinical-data-grid-v1-cell-selected-hover-background-color, #b3ddf7);
      }
    }
  }
}
