:local {
  .header-cell {
    border-right-color: var(--terra-clinical-data-grid-column-header-border-right-color, #b3b4b5);
    border-right-style: var(--terra-clinical-data-grid-column-header-border-right-style, solid);
    border-right-width: var(--terra-clinical-data-grid-column-header-border-right-width, 1px);
  }

  .default-layout {
    align-items: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    width: 100%;

    .sort-indicator {
      flex: 0 0 auto;
      margin-left: 0.5rem;
    }

    .text {
      flex: 0 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: normal;
      word-wrap: normal;
    }
  }
}
