:local {
  .resize-handle {
    cursor: col-resize;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--terra-clinical-data-grid-resize-handle-width, 5px);

    &:hover {
      background-color: var(--terra-clinical-data-grid-resize-handle-hover-background-color, grey);
    }

    &.dragging {
      background-color: var(--terra-clinical-data-grid-resize-handle-active-background-color, darkslategrey);
    }
  }
}
