// Themes
@import '../clinical-lowlight-theme/Row.module';
@import '../orion-fusion-theme/Row.module';

:local {
  .row {
    background-color: var(--terra-clinical-data-grid-row-background-color, #fff);
    min-width: 100%;
  }

  .row.striped {
    background-color: var(--terra-clinical-data-grid-row-striped-background-color, #f0f0f0);
  }

  .row.hover {
    background-color: var(--terra-clinical-data-grid-row-hover-background-color, #e2f2fc);
  }

  .row.selected {
    background-color: var(--terra-clinical-data-grid-row-selected-background-color, #cbe7fa);
    box-shadow: var(--terra-clinical-data-grid-row-selected-box-shadow, inset 0 1px 0 0 #0092e0, inset 0 -1px 0 0 #0092e0);
  }

  .row.selected.hover {
    background-color: var(--terra-clinical-data-grid-row-selected-hover-background-color, #b3ddf7);
  }
}
