:local {
  .container {
    background-color: var(--terra-clinical-data-grid-v1-scrollbar-background-color, #e8e9ea);
    height: var(--terra-clinical-data-grid-v1-scrollbar-height, 10px);
    left: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.1s linear;
    width: 100%;
  }

  .container[aria-hidden] {
    display: none;
  }

  .container:hover,
  .container.dragging {
    height: var(--terra-clinical-data-grid-v1-scrollbar-hover-height, 14px);
  }

  .scrollbar {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 3px;
    position: absolute;

    .scrollbar-handle {
      background-color: var(--terra-clinical-data-grid-v1-scrollbar-handle-background-color, #9b9fa1);
      border-radius: var(--terra-clinical-data-grid-v1-scrollbar-border-radius, 25px);
      flex: 0 0 auto;
      height: calc(100% - 2px);
      width: 100%;
    }
  }

  .container.dragging {
    .scrollbar-handle {
      background-color: var(--terra-clinical-data-grid-v1-scrollbar-handle-active-background-color, #868a8c);
    }
  }
}
