// Themes
@import '../clinical-lowlight-theme/SectionHeader.module';
@import '../orion-fusion-theme/SectionHeader.module';

:local {
  .section-header {
    background-color: var(--terra-clinical-data-grid-section-header-background-color, #e8e9ea);
    border-bottom: var(--terra-clinical-data-grid-section-header-border-bottom, 1px solid #c8cacb);
    border-top: var(--terra-clinical-data-grid-section-header-border-top, none);
    color: var(--terra-clinical-data-grid-section-header-color, #1c1f21);
    height: 100%;
    position: relative;
    width: 100%;
  }

  .content {
    align-items: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding-bottom: var(--terra-clinical-data-grid-section-header-content-padding-bottom, 0.3571428571rem);
    padding-left: var(--terra-clinical-data-grid-section-header-content-padding-left, 0.7142857143rem);
    padding-right: var(--terra-clinical-data-grid-section-header-content-padding-right, 0.3571428571rem);
    padding-top: var(--terra-clinical-data-grid-section-header-content-padding-top, 0.3571428571rem);
    position: relative;
    width: 100%;
  }

  .content.selectable {
    padding-left: var(--terra-clinical-data-grid-section-header-content-selectable-padding-left, 0.5rem);
  }

  .collapsible-icon {
    font-size: var(--terra-clinical-data-grid-section-header-collapsible-icon-font-size, 0.8571428571rem);
  }

  .collapsible-icon,
  .start-accessory,
  .end-accessory {
    color: var(--terra-clinical-data-grid-section-header-collapsible-icon-color, #1c1f21);
    flex: 0 0 auto;
    max-height: 100%;
  }

  .flex-content {
    flex: 1 1 auto;
    max-height: 100%;
    overflow: hidden;
  }

  * + .start-accessory,
  * + .flex-content,
  * + .end-accessory {
    margin-left: var(--terra-clinical-data-grid-section-header-flex-content-margin-left, 0.3571428571rem);
  }

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: normal;
    word-wrap: normal;
  }

  .content:focus {
    box-shadow: var(--terra-clinical-data-grid-section-header-focus-box-shadow, inset 0 0 0 3px rgba(76, 178, 233, 0.2));
    outline: none;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
    .content.selectable:hover {
      background-color: var(--terra-clinical-data-grid-section-header-hover-background-color, #d7d8d9);
      cursor: pointer;
    }
  }
}
