// Item Collection Variables
// ========================================================

$terra-clinical-table-header-cell-tiny: 3rem;
$terra-clinical-table-header-cell-small: 4.25rem;
$terra-clinical-table-header-cell-medium: 5.75rem;
$terra-clinical-table-header-cell-large: 8.5rem;
$terra-clinical-table-header-cell-huge: 10.5rem;
