:local {
  .table {
    table-layout: fixed;
  }

  .accessory-column {
    width: 40px;
  }

  .content-accessory-align-top {
    vertical-align: top !important;
  }

  .content-accessory-align-center {
    vertical-align: middle !important;
  }

  .content-accessory,
  .content-comment,
  .content-display {
    word-wrap: break-word;
  }
}
