:local {
  .column-accessory,
  .list-accessory {
    width: 40px;
  }

  .content-accessory {
    vertical-align: middle !important;
    width: 40px;
  }

  .content-display,
  .content-comment {
    word-wrap: break-word;
  }
}
