@import '~terra-mixins';
@import './variables';
@import './mixins';

.terraClinical-ItemCollection-column-width-tiny {
  width: $terra-clinical-table-header-cell-tiny;
}

.terraClinical-ItemCollection-column-width-small {
  width: $terra-clinical-table-header-cell-small;
}

.terraClinical-ItemCollection-column-width-medium {
  width: $terra-clinical-table-header-cell-medium;
}

.terraClinical-ItemCollection-column-width-large {
  width: $terra-clinical-table-header-cell-large;
}

.terraClinical-ItemCollection-column-width-huge {
  width: $terra-clinical-table-header-cell-huge;
}
