:local {
  .clinical-lowlight-theme {
    --terra-clinical-data-grid-border: 1px solid #181b1d;
    --terra-clinical-data-grid-column-header-background-color: #141719;
    --terra-clinical-data-grid-column-header-border-bottom: 2px solid #181b1d;
    --terra-clinical-data-grid-background-color: #2d3539;
    --terra-clinical-data-grid-pinned-column-box-shadow: 1px 0 5px #181b1d;
    --terra-clinical-data-grid-section-header-height: 2.5rem;
    --terra-clinical-data-grid-scrollbar-pinned-column-box-shadow: 1px 0 5px #181b1d, inset -1px 0 0 0 #181b1d;
    --terra-clinical-data-grid-scrollbar-background-color: #2d3539;
  }
}
