:local {
  .clinical-lowlight-theme {
    --terra-clinical-data-grid-header-cell-border-right: 1px solid #181b1d;
    --terra-clinical-data-grid-column-header-sort-indicator-color: #b2b5b6;
    --terra-clinical-data-grid-column-header-text-color: #b2b5b6;
  }
}
