:local {
  .clinical-lowlight-theme {
    --terra-clinical-data-grid-scrollbar-background-color: #2d3539;
    --terra-clinical-data-grid-scrollbar-height: 10px;
    --terra-clinical-data-grid-scrollbar-hover-height: 14px;
    --terra-clinical-data-grid-scrollbar-handle-background-color: #181b1d;
    --terra-clinical-data-grid-scrollbar-handle-border-radius: 25px;
    --terra-clinical-data-grid-scrollbar-handle-active-background-color: #000;
  }
}
