:local {
  .clinical-lowlight-theme {
    --terra-clinical-data-grid-section-header-background-color: #222a2e;
    --terra-clinical-data-grid-section-header-border-bottom: 1px solid #181b1d;
    --terra-clinical-data-grid-section-header-hover-background-color: none;
    --terra-clinical-data-grid-section-header-border-top: 1px solid #181b1d;
    --terra-clinical-data-grid-section-header-collapsible-icon-color: #b2b5b6;
    --terra-clinical-data-grid-section-header-color: #b2b5b6;
    --terra-clinical-data-grid-section-header-focus-box-shadow: inset 0 0 0 3px #004c76;
  }
}
