:local {
  .clinical-lowlight-theme {
    --terra-clinical-item-view-content-color: rgba(221, 224, 225, 0.41);
    --terra-clinical-item-view-content-primary-color: #b2b5b6;
    --terra-clinical-item-view-content-secondary-color: rgba(221, 224, 225, 0.41);
  }
}
