version: '3'

services:
  test-ci:
    build: ./
    image: "${DOCKER_IMAGE}-test-standalone-chrome:${TAG:-latest}"
    depends_on:
      - standalone-chrome

  dev: &dev
    image: "terra-clinical:dev"
    build:
      context: ./
      args:
        - npm_install=false
    ports:
      - 8080:8080
    environment:
      - CI=true
    depends_on:
      - standalone-chrome
    volumes:
      - .:/opt/module

  standalone-chrome:
    image: selenium/standalone-chrome:3.14.0-helium
    ports:
      - '4444'
    # Necessary due to some issues with chrome in docker.  See https://github.com/SeleniumHQ/docker-selenium#running-the-images
    volumes:
      - '/dev/shm:/dev/shm'
    environment:
      TZ: 'America/Chicago'

  term:
    <<: *dev
    command: "/bin/zsh"