:local {
  .resize-handle {
    cursor: col-resize;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;

    &:hover {
      background-color: grey;
    }

    &.dragging {
      background-color: darkslategrey;
      z-index: 200;
    }
  }
}
