.row {
  display: flex;
  background-color: white;
  min-width: 100%;
}

.row:nth-child(odd) {
  background-color: #f4f4f4;
}

.row.hover {
  background-color:#e2f2fc;
}

.row.selected {
  background: var(--terra-data-grid-cell-selected-background-color,#cbe7fa);
  box-shadow: inset 0 0 5px 0px #0092e0;
}