:local {
  .container {
    background-color: lightgrey;
    height: 8px;
    left: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.1s linear;
    width: 100%;
  }

  .container[aria-hidden] {
    display: none;
  }

  .container:hover,
  .container.dragging {
    height: 12px;
  }

  .scrollbar {
    background-color: grey;
    border-radius: 25px;
    cursor: ew-resize;
    height: 100%;
    position: absolute;
  }

  .container.dragging {
    .scrollbar {
      background-color: darkslategray;
    }
  }
}
