:local {
  .orion-fusion-theme {
    --terra-clinical-data-grid-cell-border-right: 1px solid #c8cacb;
    --terra-clinical-data-grid-cell-hover-background-color: rgba(0, 146, 224, 0.12);
    --terra-clinical-data-grid-cell-selected-background-color: #cbe7fa;
    --terra-clinical-data-grid-cell-selected-hover-background-color: #b3ddf7;
    --terra-clinical-data-grid-cell-focus-background-color: transparent;
    --terra-clinical-data-grid-cell-focus-box-shadow: inset 0 0 0 1px rgba(38, 162, 229, 0.5), inset 0 0 0 4px rgba(76, 178, 233, 0.2);
    --terra-clinical-data-grid-cell-selected-box-shadow: inset 0 0 0 1px #0092e0;
    --terra-clinical-data-grid-cell-active-box-shadow: none;
    --terra-clinical-data-grid-cell-selected-focus-background-color: #cbe7fa;
    --terra-clinical-data-grid-cell-selected-focus-box-shadow: inset 0 0 0 1px #0092e0, inset 0 0 0 4px rgba(76, 178, 233, 0.3);
    --terra-clinical-data-grid-cell-highlighted-not-hover-not-focus-not-active-background-color: rgba(250, 203, 170, 0.38);
    --terra-clinical-data-grid-cell-highlighted-not-hover-not-focus-not-active-box-shadow: inset 1px 0 0 0 #c97318, inset -1px 0 0 0 #c97318;
    --terra-clinical-data-grid-cell-highlighted-not-hover-not-focus-not-active-first-box-shadow: inset 1px 0 0 0 #c97318, inset -1px 0 0 0 #c97318, inset 0 1px 0 0 #c97318;
    --terra-clinical-data-grid-cell-highlighted-not-hover-not-focus-not-active-last-box-shadow: inset 1px 0 0 0 #c97318, inset -1px 0 0 0 #c97318, inset 0 -1px 0 0 #c97318;
  }
}
