:local {
  .orion-fusion-theme {
    --terra-clinical-data-grid-border: 1px solid #c8cacb;
    --terra-clinical-data-grid-column-header-background-color: #f4f4f4;
    --terra-clinical-data-grid-column-header-border-bottom: 2px solid #9b9fa1;
    --terra-clinical-data-grid-background-color: #e8e9ea;
    --terra-clinical-data-grid-pinned-column-box-shadow: 2px 0 0 0 #9b9fa1;
    --terra-clinical-data-grid-section-header-height: 2.25rem;
    --terra-clinical-data-grid-scrollbar-pinned-column-box-shadow: 2px 0 0 0 #a9aeb0, inset -1px 0 0 0 #c8cacb;
    --terra-clinical-data-grid-scrollbar-background-color: rgba(28, 31, 33, 0.1);
  }
}
