:local {
  .orion-fusion-theme {
    --terra-clinical-data-grid-header-cell-border-right: 1px solid #c8cacb;
    --terra-clinical-data-grid-column-header-sort-indicator-color: #1c1f21;
    --terra-clinical-data-grid-column-header-text-color: #595f62;
  }
}
