:local {
  .orion-fusion-theme {
    --terra-clinical-data-grid-resize-handle-width: 0.71428rem;
    --terra-clinical-data-grid-resize-handle-hover-background-color: rgba(34, 42, 46, 0.6);
    --terra-clinical-data-grid-resize-handle-active-background-color: rgba(34, 42, 46, 1);
  }
}
