:local {
  .orion-fusion-theme {
    --terra-clinical-data-grid-row-background-color: #fff;
    --terra-clinical-data-grid-row-striped-background-color: #f4f4f4;
    --terra-clinical-data-grid-row-hover-background-color: #e2f2fc;
    --terra-clinical-data-grid-row-selected-background-color: #cbe7fa;
    --terra-clinical-data-grid-row-selected-box-shadow: inset 0 1px 0 0 #0092e0, inset 0 -1px 0 0 #0092e0;
    --terra-clinical-data-grid-row-selected-hover-background-color: #b3ddf7;
  }
}
