:local {
  .orion-fusion-theme {
    --terra-clinical-data-grid-section-header-background-color: #dedfe0;
    --terra-clinical-data-grid-section-header-border-bottom: 1px solid #9b9fa1;
    --terra-clinical-data-grid-section-header-border-top: none;
    --terra-clinical-data-grid-section-header-content-padding-bottom: 0.25rem;
    --terra-clinical-data-grid-section-header-content-padding-left: 0.83333rem;
    --terra-clinical-data-grid-section-header-content-padding-right: 0.83333rem;
    --terra-clinical-data-grid-section-header-content-padding-top: 0.25rem;
    --terra-clinical-data-grid-section-header-content-selectable-padding-left: 0.83333rem;
    --terra-clinical-data-grid-section-header-collapsible-icon-font-size: 0.6666666667rem;
    --terra-clinical-data-grid-section-header-collapsible-icon-color: #1c1f21;
    --terra-clinical-data-grid-section-header-flex-content-margin-left: 0.4166666667rem;
    --terra-clinical-data-grid-section-header-text-font-size: 1rem;
    --terra-clinical-data-grid-section-header-text-line-height: 1.41666667;
    --terra-clinical-data-grid-section-header-color: #1c1f21;
    --terra-clinical-data-grid-section-header-focus-box-shadow: none;
    --terra-clinical-data-grid-section-header-hover-background-color: #c8cacb;
  }
}
