:local {
  .orion-fusion-theme {
    --terra-clinical-data-grid-section-header-background-color: #dedfe0;
    --terra-clinical-data-grid-section-header-border-bottom: 1px solid #9b9fa1;
    --terra-clinical-data-grid-section-header-border-top: none;
    --terra-clinical-data-grid-section-header-collapsible-icon-color: #1c1f21;
    --terra-clinical-data-grid-section-header-color: #1c1f21;
    --terra-clinical-data-grid-section-header-focus-box-shadow: none;
    --terra-clinical-data-grid-section-header-hover-background-color: #c8cacb;
  }
}
