@import 'terra-mixins';

:global {
  // DataGrid
  --terra-clinical-data-grid-border: 1px solid #c8cacb;
  --terra-clinical-data-grid-column-header-background-color: #f4f4f4;
  --terra-clinical-data-grid-column-header-border-bottom: 2px solid #9b9fa1;
  --terra-clinical-data-grid-background-color: #e8e9ea;
  --terra-clinical-data-grid-pinned-column-box-shadow: 2px 0 0 0 #9b9fa1;
  --terra-clinical-data-grid-section-header-height: 2.25rem;
  --terra-clinical-data-grid-scrollbar-pinned-column-box-shadow: 2px 0 0 0 #a9aeb0, inset -1px 0 0 0 #c8cacb;

  // Cell
  --terra-clinical-data-grid-cell-border-right: 1px solid #c8cacb;
  --terra-clinical-data-grid-cell-hover-background-color: rgba(0, 146, 224, 0.12);
  --terra-clinical-data-grid-cell-selected-background-color: #cbe7fa;
  --terra-clinical-data-grid-cell-selected-hover-background-color: #b3ddf7;
  --terra-clinical-data-grid-cell-focus-background-color: transparent;
  --terra-clinical-data-grid-cell-focus-box-shadow: inset 0 0 0 1px rgba(38, 162, 229, 0.5), inset 0 0 0 4px rgba(76, 178, 233, 0.2);
  --terra-clinical-data-grid-cell-selected-box-shadow: inset 0 0 0 1px #0092e0;
  --terra-clinical-data-grid-cell-active-box-shadow: none;
  --terra-clinical-data-grid-cell-selected-focus-background-color: #cbe7fa;
  --terra-clinical-data-grid-cell-selected-focus-box-shadow: inset 0 0 0 1px #0092e0, inset 0 0 0 4px rgba(76, 178, 233, 0.3);

  // Header Cell
  --terra-clinical-data-grid-header-cell-border-right: 1px solid #c8cacb;
  --terra-clinical-data-grid-column-header-sort-indicator-color: #1c1f21;
  --terra-clinical-data-grid-column-header-text-color: #595f62;

  // Resize Handle
  --terra-clinical-data-grid-resize-handle-width: 0.71428rem;
  --terra-clinical-data-grid-resize-handle-hover-background-color: rgba(34, 42, 46, 0.6);
  --terra-clinical-data-grid-resize-handle-active-background-color: rgba(34, 42, 46, 1);

  // Row
  --terra-clinical-data-grid-row-background-color: #fff;
  --terra-clinical-data-grid-row-striped-background-color: #f4f4f4;
  --terra-clinical-data-grid-row-hover-background-color: #e2f2fc;
  --terra-clinical-data-grid-row-selected-background-color: #cbe7fa;
  --terra-clinical-data-grid-row-selected-box-shadow: inset 0 1px 0 0 #0092e0, inset 0 -1px 0 0 #0092e0;
  --terra-clinical-data-grid-row-selected-hover-background-color: #b3ddf7;

  // Scrollbar
  --terra-clinical-data-grid-scrollbar-background-color: rgba(28, 31, 33, 0.1);
  --terra-clinical-data-grid-scrollbar-height: 0.71428rem;
  --terra-clinical-data-grid-scrollbar-hover-height: 1rem;
  --terra-clinical-data-grid-scrollbar-handle-background-color: #9b9fa1;
  --terra-clinical-data-grid-scrollbar-handle-border-radius: 25px;
  --terra-clinical-data-grid-scrollbar-handle-active-background-color: #868a8c;

  // Section Header
  --terra-clinical-data-grid-section-header-background-color: #dedfe0;
  --terra-clinical-data-grid-section-header-border-bottom: 1px solid #9b9fa1;
  --terra-clinical-data-grid-section-header-border-top: none;
  --terra-clinical-data-grid-section-header-collapsible-icon-color: #1c1f21;
  --terra-clinical-data-grid-section-header-color: #1c1f21;
  --terra-clinical-data-grid-section-header-focus-box-shadow: none;
  --terra-clinical-data-grid-section-header-hover-background-color: #c8cacb;

  // Row Selection Cell
  --terra-clinical-data-grid-row-selection-icon-height: 1rem;
  --terra-clinical-data-grid-row-selection-icon-width: 1rem;

  @include inline-svg-var('--terra-clinical-data-grid-row-selection-icon-background', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgba(28, 31, 33, 0.04)" d="M42,4H6C4.9,4,4,4.9,4,6v36c0,1.1,0.9,2,2,2h36c1.1,0,2-0.9,2-2V6C44,4.9,43.1,4,42,4z"/><path fill="rgba(28, 31, 33, 0.40)" d="M42,4c1.1,0,2,0.9,2,2v36c0,1.1-0.9,2-2,2H6c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2H42 M42,0H6C2.7,0,0,2.7,0,6v36 c0,3.3,2.7,6,6,6h36c3.3,0,6-2.7,6-6V6C48,2.7,45.3,0,42,0L42,0z"/></svg>');
  @include inline-svg-var('--terra-clinical-data-grid-selected-row-selection-icon-background', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgba(0, 135, 209, 0.28)" d="M42,4H6C4.9,4,4,4.9,4,6v36c0,1.1,0.9,2,2,2h36c1.1,0,2-0.9,2-2V6C44,4.9,43.1,4,42,4z"/><path fill="#0079BE" d="M42,4c1.1,0,2,0.9,2,2v36c0,1.1-0.9,2-2,2H6c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2H42 M42,0H6C2.7,0,0,2.7,0,6v36   c0,3.3,2.7,6,6,6h36c3.3,0,6-2.7,6-6V6C48,2.7,45.3,0,42,0L42,0z"/><path fill="#0059A8" d="M20,36.4L6.7,23.1l3.6-3.6l9.7,9.9l17.7-17.9l3.6,3.6L20,36.4z"/></svg>');
}
