@import '~terra-mixins';

.terraClinical-DetailView {
  padding: 1.428rem;

  > * {
    padding-bottom: 1.428rem;
  }
}

.terraClinical-DetailView-primaryText {
  font-size: 1.428rem;
  line-height: 1.428;
  margin-bottom: 0.357rem;
  margin-top: 0;
}

.terraClinical-DetailView-footerText {
  @include terra-text-align-center();
  color: #909496;
  font-size: 1rem;
  line-height: 1.428;
}

.terraClinical-DetailView-divider {
  border-color: #d3d4d5;
  border-style: solid;
  border-width: 1px 0 0;
  margin: 0;
  padding-bottom: 0.714rem;
}

.terraClinical-DetailView-subtitle {
  color: #bcbfc0;
  font-size: 1.286rem;
  line-height: 1.428;
  margin-bottom: 0.357rem;

  &:last-child {
    margin: 0;
  }
}
