/* stylelint-disable selector-class-pattern  */
:local {
  .detail-view {
    padding: 1.428rem;

    > * {
      margin-bottom: 1.428rem;
    }
  }

  .title {
    line-height: 1.428;
    margin-bottom: 1.785rem;
  }

  .primary-text {
    font-size: 1.428rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer-text {
    color: #909496;
    font-size: 1rem;
    line-height: 1.428;
    text-align: center;
  }

  .divider {
    border-color: #d3d4d5;
    border-style: solid;
    border-width: 1px 0 0;
    margin: 0;
    padding-bottom: 0.714rem;
  }

  .subtitle {
    color: #bcbfc0;
    font-size: 1.286rem;

    &:last-child {
      margin: 0;
    }
  }
}
