:local {
  .title {
    font-size: 1.1428571429rem;
    line-height: 1.4285714286;
    padding-bottom: 0.3571428571rem;
    padding-top: 0.7142857143rem;
  }

  .list {
    display: flex;
    flex-flow: row wrap;
  }
}
