:global {
  --terra-clinical-item-display-attention-color: #fb4c4c;
  --terra-clinical-item-display-disabled-inline-icon-color: #404344;
  --terra-clinical-item-display-disabled-inline-icon-opacity: 0.3;
  --terra-clinical-item-display-primary-color: #b2b5b6;
  --terra-clinical-item-display-secondary-color: #6f7477;
  --terra-clinical-item-display-strong-color: none;
  --terra-clinical-item-display-strike-through-color: none;

  --terra-clinical-item-display-item-comment-color: #6f7477;
  --terra-clinical-item-display-item-comment-inline-icon-color: #6f7477;
}
