@import '~terra-mixins/lib/Mixins';
@import '../clinical-lowlight-theme/FlowsheetResultCell.module';
@import '../orion-fusion-theme/FlowsheetResultCell.module';

:local {
  .flowsheet-result-cell {
    align-items: center;
    display: flex;
    margin: 0;
    max-width: 100%;  // Needed for IE10 truncation
    overflow-x: hidden;
    padding: 0;
  }

  .primary-display {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    // float: left;
    height: var(--terra-clinical-result-flowsheet-cell-primary-display-height, 1.78571em); // Must use ems for font scaling
    margin: 0;
    margin-left: var(--terra-clinical-result-flowsheet-cell-interpretation-icon-reserved-space-margin-left, 1.1875em); // Must use ems for font scaling
    max-width: 100%;  // Needed for IE10 truncation
    overflow: hidden; // Needed for IE10
    padding: 0;

    &.unverified {
      color: var(--terra-clinical-result-flowsheet-cell-status-unverified-color, #78288c);
      font-weight: var(--terra-clinical-result-flowsheet-cell-status-unverified-font-weight, normal);
    }

    &.interpretation,
    &.error {
      margin-left: 0;
    }
  }

  .end-display {
    display: flex;
    flex: 0 0 auto;
    float: right;
    height: var(--terra-clinical-result-flowsheet-cell-end-display-height, 1.78571em); // Must use ems for font scaling
    min-width: 0;
  }

  .additional-end-display {
    display: flex;
    flex: 0 0 auto;
    height: var(--terra-clinical-result-flowsheet-cell-end-display-height, 1.78571em); // Must use ems for font scaling
    min-width: 0;

    &.no-accessory-icons {
      margin-right: var(--terra-clinical-result-flowsheet-cell-end-icons-reserved-space-margin-right, 1em); // Must use ems for font scaling
    }

    /* stylelint-disable max-nesting-depth */
    &.interpretation-neutral {
      .additional-results-value {
        background-color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-neutral-background-color, #f3f3f3);
        border: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-neutral-border, 1px solid #686c6e);
        color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-neutral-color, #595f62);
        font-weight: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-neutral-font-weight, normal);

        &:nth-of-type(2) {
          color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-2nd-neutral-color, #f3f3f3);
        }
      }
    }

    &.interpretation-high {
      .additional-results-value {
        background-color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-high-background-color, #ffdede);
        border: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-high-border, 1px solid #f00);
        color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-high-color, #1c1f21);
        font-weight: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-high-font-weight, bold);

        &:nth-of-type(2) {
          color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-2nd-high-color, #ffdede);
        }
      }
    }

    &.interpretation-critical {
      .additional-results-value {
        background-color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-critical-background-color, #de0000);
        border: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-critical-border, 1px solid #fff);
        color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-critical-color, #fff);
        font-weight: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-critical-font-weight, bold);

        &:nth-of-type(2) {
          color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-2nd-critical-color, #de0000);
          left: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-2nd-critical-left, 0.30769em); // Must use ems for font re-scaling
          top: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-2nd-critical-top, -1.30769em); // Must use ems for font re-scaling
        }
      }
    }
    /* stylelint-enable max-nesting-depth */
  }

  .additional-results-stack {
    box-sizing: border-box;
    display: block;
    height: 100%;
    min-width: 0;
    padding: var(--terra-clinical-result-flowsheet-cell-additional-results-stack-padding, 0 0.28571em); // Must use ems for font re-scaling
    position: relative;
    width: 100%;
  }

  .additional-results-value {
    background-color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-background-color, #f3f3f3);
    border: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-border, 1px solid #686c6e);
    box-sizing: border-box;
    color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-color, #595f62);
    display: block;
    font-size: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-font-size, 0.92857em); // Must use ems for font re-scaling
    font-weight: var(--terra-clinical-result-flowsheet-cell-font-weight, normal);
    left: 0;
    line-height: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-line-height, 1.53846);
    min-width: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-min-width, 1.07142em); // Must use ems for font re-scaling
    overflow: hidden;
    padding: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-padding, 0 0.21428em); // Must use ems for font re-scaling
    position: relative;
    top: 0;
    z-index: 2;

    &:nth-of-type(2) {
      color: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-2nd-color, #f3f3f3);
      left: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-2nd-left, 0.23076em); // Must use ems for font re-scaling
      top: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-2nd-top, -1.38461em); // Must use ems for font re-scaling
      z-index: 1;
    }

    &.additional-results-max-value {
      padding: var(--terra-clinical-result-flowsheet-cell-additional-results-tile-max-value-padding, 0 0.07142em 0 0.14285em); // Must use ems for font re-scaling
    }
  }

  .end-accessory-icons {
    display: flex;
    flex: 0 0 auto;
    height: var(--terra-clinical-result-flowsheet-cell-end-accessory-icon-space-height, 1.78571em); // Must use ems for font re-scaling
    width: var(--terra-clinical-result-flowsheet-cell-end-accessory-icon-space-width, 1em); // Must use ems for font re-scaling

    .end-accessory-stack {
      box-sizing: border-box;
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
    }

    .icon-comment {
      color: var(--terra-clinical-result-flowsheet-cell-icon-comment-color, rgba(28, 31, 33, 0.65));
      font-size: var(--terra-clinical-result-flowsheet-cell-icon-comment-font-size, 0.78571em); // Must use ems for font re-scaling
      margin-left: var(--terra-clinical-result-flowsheet-cell-icon-comment-margin-left, 0.27272em); // Must use ems for font re-scaling
      overflow: hidden;
      position: absolute;
      top: var(--terra-clinical-result-flowsheet-cell-icon-comment-top, 0); // Must use ems for font re-scaling
      vertical-align: baseline;
    }

    .icon-modified {
      color: var(--terra-clinical-result-flowsheet-cell-icon-modified-color, #26a2e5);
      font-size: var(--terra-clinical-result-flowsheet-cell-icon-modified-font-size, 0.78571em); // Must use ems for font re-scaling
      margin-left: var(--terra-clinical-result-flowsheet-cell-icon-modified-margin-left, 0.27272em); // Must use ems for font re-scaling
      overflow: hidden;
      position: absolute;
      top: var(--terra-clinical-result-flowsheet-cell-icon-modified-top, 1.18181em); // Must use ems for font re-scaling
      vertical-align: baseline;
    }

    .icon-unverified {
      font-size: var(--terra-clinical-result-flowsheet-cell-icon-unverified-font-size, 0.85em); // Must use ems for font re-scaling
      margin-left: var(--terra-clinical-result-flowsheet-cell-icon-unverified-margin-left, 0.16806em); // Must use ems for font re-scaling
      overflow: hidden;
      position: absolute;
      top: var(--terra-clinical-result-flowsheet-cell-icon-unverified-top, 0.5042em); // Must use ems for font re-scaling
      vertical-align: baseline;
    }
  }

  .error-display {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-evenly;
    max-width: 100%;  // Needed for IE10 truncation
    overflow: hidden; // Needed for IE10
  }

  .padding-standard {
    padding: var(--terra-clinical-result-flowsheet-cell-padding-standard-padding, 0.5rem 0.28571rem);
  }

  .padding-compact {
    padding: var(--terra-clinical-result-flowsheet-cell-padding-compact-padding, 0.21428rem 0.28571rem);
  }
}
