// Styles specific to development only
// stylelint-disable

#root {
  padding: 20px;
}

.markdown-body {
  margin-bottom: 20px;
}

.terraClinical-Site-Nav {
  & > li {
    font-size: 1.25rem;
    padding: 0.5rem 0;
   }
 }
