// Styles specific to development only
// stylelint-disable

#root {
  padding: 20px;
  padding-bottom: 100px;
}

.markdown-body {
  margin-bottom: 20px;
}

.demo-bar {
  background-color: #eee;
  padding: 10px;
}

.terraClinical-Site-directionality {
  padding-bottom: 10px;
}

.terraClinical-Site-links {
  padding-bottom: 40px;
}
