// Styles specific to development only
// stylelint-disable
:local {
  .application {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .navigation {
    padding: 0.75rem 1.25rem;
    & > li {
      font-size: 1.25rem;
      padding: 0.5rem 0;

      & > a {
        text-decoration: none;
      }
    }
  }

  .navigation-header {
    background-color: #dce0e2;
    border-bottom: 1px solid #bcbfc0;
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;

    & > a {
      text-decoration: none;
    }
  }

  .panel {
    background-color: #f1f1f2;
    border-right: 1px solid #047cc0;
  }

  .header {
    background-color: #80c7ee;
    border-bottom: 3px solid #047cc0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0.5rem 1.25rem;
    position: relative;
    width: 100%;
  }

  .collapsible > div:first-child {
    flex: 3 0 auto;
   }

  .content {
    height: 100%;
    overflow: auto;
    padding: 1.25rem;
    width: 100%;
  }
}

#site-body {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#root {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}
