:local {
  .start-content,
  .end-content,
  .content {
    background-color: #add8e6;
    height: 30px;
  }

  .start-content {
    width: 100px;
  }

  .end-content {
    width: 100px;
  }

  .content {
    width: 300px;
  }

  .placeholder-wrapper {
    height: 30px !important;
    padding: 0;
    padding-right: 10px;
  }
}
