:local {
  .startcontent {
    background-color: #000;
    height: 30px;
    margin: 0 10px 0 0;
    width: 100px;
  }

  .endcontent {
    background-color: #000;
    height: 30px;
    margin: 0 0 0 10px;
    width: 100px;
  }
}
