:local {
  .data-grid-basic {
    height: 800px;
  }

  .data-grid-small {
    height: 400px;
  }

  .data-grid-row-style {
    height: 100%;
    width: 100%;
  }

  .data-grid-paging {
    height: 800px;
    position: relative;
  }
  
  .loading-overlay {
    top: 0;
  }

  .spacer-right-medium {
    margin-right: 0.7142857143rem;
  }
}

