:global {
  --terra-clinical-onset-picker-age-input-width: 5rem;
  --terra-clinical-onset-picker-field-margin-bottom: 0.5rem;
  --terra-clinical-onset-picker-field-margin-right: 0.5rem;
  --terra-clinical-onset-picker-precision-select-min-width: 10rem;
  --terra-clinical-onset-picker-granularity-select-min-width: 8rem;
  --terra-clinical-onset-picker-month-select-min-width: 10rem;
  --terra-clinical-onset-picker-age-granularity-select-min-width: 8rem;
  --terra-clinical-onset-picker-year-select-min-width: 6rem;
}
