:local {
  .orion-fusion-theme {
    --terra-clinical-detail-view-subtitle-color: #6f7477;
    --terra-clinical-detail-view-accessory-color: #1c1f21;
    --terra-clinical-detail-view-footer-text-color: #6f7477;
    --terra-clinical-detail-view-divider-border-color: #dedfe0;
  }
}
