@import '~terra-mixins';

.terraClinical-Header {
  background-color: #f4f4f4;
  border-bottom-color: #dedfe0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 3.587rem;
  padding: 0.714rem;
  width: 100%;

  .terraClinical-Header-title {
    font-size: 1.285rem;
    font-weight: normal;
    line-height: 1.75;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }
}
