:local {
  .orion-fusion-theme {
    --terra-clinical-item-view-content-color: rgba(28, 35, 40, 0.73);
    --terra-clinical-item-view-content-primary-color: #1c1f21;
    --terra-clinical-item-view-content-secondary-color: rgba(28, 35, 40, 0.73);
  }
}
