@mixin terra-clinical-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--result-view-truncation-width, 1.95rem);
  word-break: normal;
  word-wrap: normal;
}
