@mixin terra-clinical-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--result-view-truncation-width, 1.95rem);
  word-break: normal;
  word-wrap: normal;

  &.critical {
    color: var(--result-view-result-value-truncated-critical, #c00);
  }

  &.low {
    color: var(--result-view-result-value-truncated-low, #0053e6);
  }

  &.high {
    color: var(--result-view-result-value-truncated-high, #cd4d00);
  }

  &.abnormal {
    color: var(--result-view-result-value-truncated-abnormal, #654a08);
  }

  &.normal {
    color: var(--result-view-result-value-truncated-normal, #6f7477);
  }
}
