@import './mixins';

:local {
  .result-view {
    color: var(--result-view-background-color, #595f62);
    font-size: var(--result-view-font-size, 20px);
    line-height: var(--result-view-line-height, 20px);
    white-space: nowrap;
    width: 100%;

    svg {
      fill: currentColor;
    }

    &.alignment-left {
      text-align: left;
    }

    &.alignment-right {
      text-align: right;
    }

    &.alignment-center {
      text-align: center;
    }
  }

  .result-view-body--padded {
    padding: var(--result-view-body-padding, 5px);
  }

  .result-view-result-block {
    align-items: baseline;
    display: inline-flex;
  }

  .result-view-indicator {
    padding-right: var(--result-view-indicator-padding-right, 3px);
  }

  .result-view-result-value-text {
    font-size: var(--result-view-result-value-font-size, 20px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .result-view-result-unit {
    color: var(--result-view-result-unit-text-color, #6f7477);
    line-height: normal;
    padding-left: var(--result-view-result-unit-padding-left, 3px);
    padding-right: var(--result-view-result-unit-padding-right, 3px);
  }

  .result-view-result-age {
    color: var(--result-view-result-age-text-color, #6f7477);
    display: block;
    font-size: var(--result-view-result-age-font-size, 20px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .result-view-truncated {
    @include terra-clinical-text-truncate;
  }

  .result-view-result-separator {
    padding-left: var(--result-view-result-separator-padding-left, 3px);
    padding-right: var(--result-view-result-separator-padding-right, 3px);
  }
}
