@import '../mixins';
@import '../../clinical-lowlight-theme/OtherTemplates.module';
@import '../../orion-fusion-theme/OtherTemplates.module';

:local {
  .entered-in-error {
    color: var(--terra-clinical-result-entered-in-error-color);
    font-size: var(--terra-clinical-result-entered-in-error-font-size, 1em); // Must use ems for font scaling
    line-height: var(--terra-clinical-result-entered-in-error-line-height, 1.125);
  }

  .no-data {
    color: var(--terra-clinical-result-no-data-color, rgba(28, 31, 33, 0.65));
    font-size: var(--terra-clinical-result-no-data-font-size, 1em); // Must use ems for font scaling
    letter-spacing: var(--terra-clinical-result-no-data-letter-spacing, 0.3ch); // Must use ch for font scaling
    line-height: var(--terra-clinical-result-no-data-line-height, 1.125);
  }

  .numeric-overflow {
    color: var(--terra-clinical-result-numeric-overflow-color);
    font-size: var(--terra-clinical-result-numeric-overflow-font-size, 1em); // Must use ems for font scaling
    line-height: var(--terra-clinical-result-numeric-overflow-line-height, 1.125);
  }

  .system-error {
    color: var(--terra-clinical-result-system-error-color);
    font-size: var(--terra-clinical-result-system-error-font-size, 1em); // Must use ems for font scaling
    line-height: var(--terra-clinical-result-system-error-line-height, 1.125);
    vertical-align: text-bottom;

    .icon-error {
      margin-right: var(--terra-clinical-result-system-error-icon-margin-right, 0.1875em); // Must use ems for font scaling
      position: relative;
      top: var(--terra-clinical-result-system-error-icon-top, 0.15em); // Must use ems for font scaling
      vertical-align: baseline;
    }
  }

  .entered-in-error,
  .numeric-overflow,
  .system-error,
  .truncated {
    display: inline-block;
    max-width: 100%;  // Needed for IE10 truncation
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }

  .visually-hidden {
    @include terra-clinical-result-visually-hidden-text;
  }
}
