:local {
  .clinical-lowlight-theme {
    --terra-clinical-result-examples-dashed-border-group-border: 2px dashed #6f7477;
    --terra-clinical-result-examples-mock-flowsheet-header-background-color: #2d3539;
    --terra-clinical-result-examples-mock-flowsheet-header-border: 1px solid #46494b;
    --terra-clinical-result-examples-mock-flowsheet-header-border-bottom-color: #6f7477;
    --terra-clinical-result-examples-mock-flowsheet-header-cell-border-left: 1px solid #46494b;
    --terra-clinical-result-examples-mock-flowsheet-header-cell-border-right: 1px solid #46494b;
    --terra-clinical-result-examples-mock-flowsheet-header-cell-new-date-border-left: 2px solid #6f7477;
    --terra-clinical-result-examples-mock-flowsheet-firstcolumn-background-color: #2d3539;
    --terra-clinical-result-examples-mock-flowsheet-firstcolumn-border: 1px solid #46494b;
    --terra-clinical-result-examples-mock-flowsheet-firstcolumn-border-right: 2px solid #6f7477;
    --terra-clinical-result-examples-mock-flowsheet-firstcolumn-cell-border-bottom: 1px solid #46494b;
    --terra-clinical-result-examples-mock-flowsheet-firstcolumn-cell-border-top: 1px solid #46494b;
    --terra-clinical-result-examples-mock-flowsheet-firstcolumn-cell-zebra-background-color: #222a2e;
    --terra-clinical-result-examples-mock-flowsheet-resultcolumn-background-color: #2d3539;
    --terra-clinical-result-examples-mock-flowsheet-resultcolumn-border: 1px solid #585a5c;
    --terra-clinical-result-examples-mock-flowsheet-resultcolumn-cell-background-color: #1c2326;
    --terra-clinical-result-examples-mock-flowsheet-resultcolumn-cell-border-bottom: 1px solid #585a5c;
    --terra-clinical-result-examples-mock-flowsheet-resultcolumn-cell-border-top: 1px solid #585a5c;
    --terra-clinical-result-examples-mock-flowsheet-resultcolumn-cell-zebra-background-color: #222a2e;
  }
}
