:local {
  .orion-fusion-theme {
    --terra-clinical-result-name-header-cell-name-color: #1c1f21;
    --terra-clinical-result-name-header-cell-name-font-size: 1em; // Must use ems for font scaling
    --terra-clinical-result-name-header-cell-unit-color: rgba(28, 35, 40, 0.73);
    --terra-clinical-result-name-header-cell-unit-font-size: 0.875em; // Must use ems for font scaling
    --terra-clinical-result-name-header-cell-unit-margin-left: 0.35714em; // Must use ems for font scaling
    --terra-clinical-result-display-icon-rowindicator-margin-right: 0.25em; // Must use ems for font scaling
    --terra-clinical-result-display-icon-rowindicator-top: 0.15em; // Must use ems for font scaling
    --terra-clinical-result-name-header-cell-padding-standard-padding: 0.71428rem 0.71428rem;
    --terra-clinical-result-name-header-cell-padding-compact-padding: 0.35714rem 0.71428rem;
  }
}
