:local {
  .content-cell {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: normal;
    word-wrap: normal;
    padding: 8px;
  }
}