
// Themes
@import './clinical-lowlight-theme/LabelValueView.module';
@import './orion-fusion-theme/LabelValueView.module';

:local {
  .label-value-view {
    border: 0;
    padding: 0;
    word-break: break-word;
    word-wrap: break-word;
  }

  .label {
    color: var(--terra-clinical-label-value-view-label-color, rgba(28, 31, 33, 0.65));
    font-size: 0.8571428571rem;
    line-height: 1.4285714286;
    margin-bottom: 0.3571428571rem;
  }

  .value {
    font-size: 1rem;
    line-height: 1.4285714286;
  }

  .value-wrapper {
    margin: 0;
  }
}
