@import '~terra-mixins';

.terraClinical-LabelValueView {
  border: 0;
  padding: 0.1785rem;
}

.terraClinical-LabelValueView-label {
  color: #909496;
  font-size: 1rem;
  line-height: 1.428;
}

.terraClinical-LabelValueView-value {
  font-size: 1.428rem;
  line-height: 1.428;
}
