:local {
  .label-value-view {
    border: 0;
    padding: 0.1785rem;
    word-break: break-word;
    word-wrap: break-word;
  }

  .label {
    color: #75767d;
    font-size: 1rem;
    line-height: 1.4285714285714286;
  }

  .value {
    font-size: 1.1428571428571428rem;
    line-height: 1.4285714285714286;
  }
}
