@import './mixins';

:local {
  .item-display {
    @include terra-clinical-item-body;
    align-items: center;
    display: flex;
    overflow: hidden; // VERY IMPORTANT FOR IE10
  }

  .text {
    flex: 1 1 auto;
    min-width: 10px; // Need min-width, as IE10 will completely squish display
  }

  .inline-icon {
    flex: 0 0 auto;
    overflow: hidden;
    padding-right: 5px;
  }

  .inline-icon > * {
    min-height: 20px;
    min-width: 16px;
  }

  .is-truncated {
    @include terra-clinical-text-truncate;
  }

  // Text Styles
  .secondary {
    color: #64696c !important;
  }

  .attention {
    color: #c00 !important;
    font-weight: 700 !important;
  }

  .strike-through {
    text-decoration: line-through !important;
  }
}
