@import '~terra-mixins';
@import './mixins';

.terraClinical-ItemDisplay {
  @include terra-clinical-item-body;
  align-items: center;
  display: flex;
  overflow: hidden; // VERY IMPORTANT FOR IE10
}

.terraClinical-ItemDisplay-text {
  flex: 1 1 auto;
  min-width: 10px; // Need min-width, as IE10 will completely squish display
}

.terraClinical-ItemDisplay-inlineIcon {
  @include terra-padding-end(5px);
  flex: 0 0 auto;
  height: 20px;
  max-width: 20px;
  overflow: hidden;
  position: relative;
}

.terraClinical-ItemDisplay-inlineIcon > * {
  font-size: 1rem;
  height: 20px;
  width: 16px;
}

.terraClinical-ItemDisplay-text--isTruncated {
  @include terra-clinical-text-truncate;
}

// Text Styles

.terraClinical-ItemDisplay-text--secondary {
  color: #64696c !important;
}

.terraClinical-ItemDisplay-text--attention {
  color: #c00 !important;
  font-weight: 700 !important;
}

.terraClinical-ItemDisplay-text--strikeThrough {
  text-decoration: line-through !important;
}
