@import './mixins';
// Themes
@import './clinical-lowlight-theme/ItemDisplay.module';
@import './orion-fusion-theme/ItemDisplay.module';

:local {
  .item-display {
    @include terra-clinical-item-body;
    display: flex;
    max-width: 100%;  // Needed for IE10 truncation
    overflow: hidden; // VERY IMPORTANT FOR IE10
  }

  .text {
    flex: 1 1 auto;
    min-width: 10px; // Need min-width, as IE10 will completely squish display
  }

  .icon {
    flex: 0 0 auto;
    overflow: hidden;
    padding-right: var(--terra-clinical-item-display-inline-icon-padding-right, 0.357142857142857rem);
  }

  .icon > * {
    min-height: 1em;
    min-width: 1em;
  }

  .icon-center {
    align-items: center;
  }

  .icon-top {
    align-items: flex-start;
  }

  .icon-inline {
    display: inline;

    .text {
      display: inline;
    }

    .icon {
      display: inline;
    }
  }

  .is-truncated {
    @include terra-clinical-text-truncate;
  }

  .is-disabled {
    opacity: var(--terra-clinical-item-display-disabled-inline-icon-opacity, 0.2);

    .icon {
      color: var(--terra-clinical-item-display-disabled-inline-icon-color, rgba(117, 118, 125, 1));
    }
  }

  // Text Styles

  .secondary {
    color: var(--terra-clinical-item-display-secondary-color, rgba(28, 31, 33, 0.65));
  }

  .attention {
    color: var(--terra-clinical-item-display-attention-color, #c00);
    font-weight: var(--terra-clinical-item-display-attention-font-weight, 700);
  }

  .strong {
    color: var(--terra-clinical-item-display-strong-color, #1c1f21);
    font-weight: var(--terra-clinical-item-display-strong-font-weight, 700);
  }

  .strike-through {
    color: var(--terra-clinical-item-display-strike-through-color, #1c1f21);
    text-decoration: line-through;
  }
}
