@import './mixins';

:local {
  .item-display {
    @include terra-clinical-item-body;
    align-items: center;
    display: flex;
    max-width: 100%;  // Needed for IE10 truncation
    overflow: hidden; // VERY IMPORTANT FOR IE10
  }

  .text {
    flex: 1 1 auto;
    min-width: 10px; // Need min-width, as IE10 will completely squish display
  }

  .inline-icon {
    flex: 0 0 auto;
    overflow: hidden;
    padding-right: 5px;
  }

  .inline-icon > * {
    min-height: 20px;
    min-width: 16px;
  }

  .is-truncated {
    @include terra-clinical-text-truncate;
  }

  .is-disabled {
    opacity: 0.18;

    &.inline-icon {
      color: rgba(117, 118, 125, 0.3);
    }
  }

  // Text Styles
  .secondary {
    color: #75767d;
  }

  .attention {
    color: #c00;
    font-weight: 700;
  }

  .strong {
    font-weight: 700;
  }

  .strike-through {
    text-decoration: line-through;
  }
}
