// Themes
@import './clinical-lowlight-theme/DataGrid.module';
@import './orion-fusion-theme/DataGrid.module';

:local {
  .data-grid-container {
    border: var(--terra-clinical-data-grid-border, 1px solid #dedfe0);
  }

  .fill {
    height: 100%;
    width: 100%;
  }

  .header-container {
    align-items: center;
    display: flex;
    min-width: 100%;
    position: relative;
  }

  .header-container.fixed {
    overflow: hidden;
  }

  .pinned-header {
    background-color: var(--terra-clinical-data-grid-column-header-background-color, #f9f9f9);
    border-bottom: var(--terra-clinical-data-grid-column-header-border-bottom, 2px solid #9b9fa1);
    flex: 0 0 auto;
    float: left;
    height: 100%;
  }

  .header-overflow-container {
    flex: 1 1 auto;
    height: calc(100% + 20px);
    margin-bottom: -20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
    width: 100%;
  }

  .overflow-header {
    background-color: var(--terra-clinical-data-grid-column-header-background-color, #f9f9f9);
    border-bottom: var(--terra-clinical-data-grid-column-header-border-bottom, 2px solid #9b9fa1);
    float: left;
    height: 100%;
    min-width: 100%;
    position: relative;
    top: 0;
  }

  .header-scrollbar-buffer {
    background-color: var(--terra-clinical-data-grid-column-header-background-color, #f9f9f9);
    border-bottom: var(--terra-clinical-data-grid-column-header-border-bottom, 2px solid #9b9fa1);
    flex: 0 0 auto;
    height: 100%;
  }

  .vertical-overflow-container {
    align-items: flex-start;
    background-color: var(--terra-clinical-data-grid-background-color, #e8e9ea);
    display: flex;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
  }

  .horizontal-overflow-container {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%;
  }

  .horizontal-overflow-container.padded-container {
    padding-bottom: 20px;
  }

  .overflowed-content-container {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
  }

  .pinned-content-container {
    box-shadow: var(--terra-clinical-data-grid-pinned-column-box-shadow, 0 0 12px 0 rgba(100, 105, 108, 0.35));
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
  }

  .section-header-container {
    height: var(--terra-clinical-data-grid-section-header-height, 2.5rem);
  }

  .leading-focus-anchor {
    height: 0;
    outline: none;
  }

  .terminal-focus-anchor {
    height: 0;
    outline: none;
  }

  .footer-container {
    display: flex;
    overflow: hidden;
    z-index: 1;

    .pinned-column-buffer {
      background-color: var(--terra-clinical-data-grid-scrollbar-background-color, #e8e9ea);
      box-shadow: var(--terra-clinical-data-grid-scrollbar-pinned-column-box-shadow, 0 0 12px 0 rgba(100, 105, 108, 0.5), inset -1px 0 0 0 #c8cacb);
      flex: 0 0 auto;
    }

    .scrollbar-container {
      flex: 1 1 auto;
    }
  }

  .hidden-info {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
