@import '~terra-mixins';

.terraClinical-ErrorView {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.429rem 0;
  width: 100%;
}

.terraClinical-ErrorView-glyph {
  flex: 0 0 auto;
  padding-bottom: 0.2857rem;
  padding-top: 1.429rem;
}

.terraClinical-ErrorView-text {
  @include terra-text-align-center();
  color: #c8cacb;
  flex: 0 0 auto;
  font-size: 1.7142857142857142rem;
  line-height: 1.284;
}

.terraClinical-ErrorView-button {
  flex: 0 0 auto;
  padding-top: 0.2857rem;
}
