:local {
  .content-wrapper {
    height: 768px;
    width: 100%;
  }

  .multiple-datagrids-content-wrapper {
    height: 400px;
    width: 100%;
  }

  .content-overflow {
    overflow: auto;
  }

  .spacer-right-medium {
    margin-right: 0.7142857143rem;
  }
}
