:local {
  .clinical-lowlight-theme {
    --terra-clinical-result-text-base-font-size: 1em; // Must use ems for font scaling
    --terra-clinical-result-text-base-line-height: 1.42857;
    --terra-clinical-result-text-supporting-font-size: 0.875em; // Must use ems for font scaling
    --terra-clinical-result-text-supporting-line-height: 1.42857;
  }
}
