:local {
  .orion-fusion-theme {
    --terra-clinical-item-display-inline-icon-padding-right: 0.25rem;
    --terra-clinical-item-display-disabled-inline-icon-color: #9b9fa1;
    --terra-clinical-item-display-disabled-inline-icon-opacity: 1;
    --terra-clinical-item-display-secondary-color: #64696c;
    --terra-clinical-item-display-attention-color: #c00;
    --terra-clinical-item-display-attention-font-weight: 700;
    --terra-clinical-item-display-strong-color: #1c1f21;
    --terra-clinical-item-display-strong-font-weight: 700;
    --terra-clinical-item-display-strike-through-color: #1c1f21;
  }
}
