:local {
  .itemview-wrapper {
    border: 1px solid;
  }

  .comment-itemview-wrapper {
    width: 250px;
  }

  .overflow-displays-itemview {
    max-width: 900px;
  }

  .accessory-itemview-wrapper {
    border: 1px #808080 solid;
    max-width: 700px;
  }

  .itemview-fontsize {
    font-size: 100px;
  }
}
