/* stylelint-disable selector-class-pattern  */
:local {
  .no-data-view {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.429rem 0;
    width: 100%;
  }

  .glyph {
    flex: 0 0 auto;
    padding-bottom: 0.2857rem;
    padding-top: 1.429rem;
  }

  .heading {
    color: #c8cacb;
    flex: 0 0 auto;
    font-size: 1.7142857142857142rem;
    line-height: 1.284;
    text-align: center;
  }

  .subtext {
    color: #6f7477;
    flex: 0 0 auto;
    font-size: 1rem;
    line-height: 1.142;
    padding-top: 0.2857rem;
    text-align: center;
  }

  .subtext-content {
    flex: 0 0 auto;
    padding-top: 0.2857rem;
  }
}
