:local {
  .orion-fusion-theme {
    // .flex-header
    --terra-clinical-header-align-items: center;
    --terra-clinical-header-background-color: #f4f4f4;
    --terra-clinical-header-border-bottom: 0.16666667rem solid #64696c;
    --terra-clinical-header-color: #1c1f21;
    --terra-clinical-header-min-height: 2.83333rem;
    --terra-clinical-header-padding: 0;

    // .flex-collapse
    --terra-clinical-header-flex-collapse-align-self: center;
    --terra-clinical-header-flex-collapse-margin: 0.5rem;

    // .subheader
    --terra-clinical-header-subheader-background-color: #f4f4f4;
    --terra-clinical-header-subheader-min-height: 2.83333rem;
    --terra-clinical-header-subheader-padding: 0;
    
    // .flex-end
    --terra-clinical-header-flex-end-align-self: stretch;
    
    // .title
    --terra-clinical-header-title-font-size: 1.5rem;
    --terra-clinical-header-title-font-weight: normal;
    --terra-clinical-header-title-padding: 0.25rem 0.25rem 0.25rem 0.25rem;

    // .flex-end + flex.fill
    --terra-clinical-header-end-content-plus-title-padding-left: 0;

    // .flex-fill + flex.end
    --terra-clinical-header-title-plus-end-content-padding-right: 0;
  }
}
