:local {
  .clinical-lowlight-theme {
    --terra-clinical-item-display-attention-color: #fb4c4c;
    --terra-clinical-item-display-disabled-icon-color: #404344;
    --terra-clinical-item-display-disabled-opacity: 0.3;
    --terra-clinical-item-display-secondary-color: rgba(221, 224, 225, 0.41);
    --terra-clinical-item-display-strong-color: #b2b5b6;
    --terra-clinical-item-display-strike-through-color: #b2b5b6;
    --terra-clinical-item-display-attention-font-weight: 700;
    --terra-clinical-item-display-strong-font-weight: 700;
    --terra-clinical-item-display-inline-icon-padding-right: 0.35714rem;

    --terra-clinical-item-display-disabled-inline-icon-color: #404344; // used for v3.18.0 and before
    --terra-clinical-item-display-disabled-inline-icon-opacity: 0.3; // used for v3.18.0 and before
  }
}
